.xslider div, .xslider img {
   -khtml-user-select: none;
   -o-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

.xslide img {
    border: 0 !important;
}

.xslider h1, .xslider h2, .xslider h3, .xslider h4, .xslider h5, .xslider h6 {
   margin:0 !important;
   padding:0 !important;
   outline: none !important;
   border: none !important;
}

/* fix for wrong italic rendering */
.xtext {display:inline-block; padding:0 100px; margin:0 -100px;}
.xletter {display:inline-block; padding:0 100px; margin:0 -100px;}
.xword {display:inline-block; padding:0 100px; margin:0 -100px; white-space:normal;}
.xline {display:inline-block; padding:0 100px; margin:0 -100px; white-space:normal;}
